doctype html
html
    head
        title Hello world
    body
        
        
       
        //-#mNav
            input.checkboxToggle(type="checkbox")
            .checkboxLabel b
            .menuContainer
                a One
                a Two
                a Three
        
        
        //-.pure-g#titleBar
            .pure-u-1-24
            .pure-u-10-24
                h2 2UNIQ
            .pure-u-12-24
                div About work contact
            .pure-u-1-24
        //-#about
            .pure-g
                .pure-u-1.pure-u-md-1-2
                    
                .pure-u-1.pure-u-md-1-2
                    h2 Heading
                    p Admodum in dolore possumus ab e de aliqua quorum labore e ad fugiat irure illum deserunt si aliquip exquisitaque hic commodo. Magna ea ullamco si legam. Non multos illustriora ut do an tractavissent, nulla arbitror si iudicem, an malis aut fore et incurreret nisi aut singulis arbitrantur do ubi do anim quamquam de
                    
        //-#work
            
                .item
                    button#openWork fkljds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds
                .item
                    p kjflds

        
        //-#contact
            .pure-g
                .pure-u-1.pure-u-md-1-2
                    h2 Contact
                    p Admodum in dolore possumus ab e de aliqua quorum labore e ad fugiat irure illum deserunt si aliquip exquisitaque hic commodo. Magna ea ullamco si legam. Non multos illustriora ut do an tractavissent, nulla arbitror si iudicem, an malis aut fore et incurreret nisi aut singulis arbitrantur do ubi do anim quamquam de

                    
                .pure-u-1.pure-u-md-1-2
        
        include modules/photoswipe.pug
       
                    