$mNavTextColour: #30353c;
$mNavBgColour: #fff;
$mNavToggleW: 50px;
$mNavToggleH: 50px;
$workThumbBorder: #e0e7f1;
$light: #d8cec2;
$dark: #807766;
$violet: #861be7;
$defaultTextColour: #252219;
$inactiveNav: #ccc;
$inactiveButton: #42392f;
$activeButton: #595047;
$navBarInactive: #726a62;
$navBarActive: #fff;
$backgroundGrad: #807766;
$backgroundGrad2: #fff;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i');
@mixin defaultFontSize {
    font-size: 16px;
    line-height: 2.2em !important;
    color: $defaultTextColour;
}

@mixin defaultFont {
    font-family: 'Source Sans Pro', sans-serif !important;
    letter-spacing: 0.01em;
    font-weight: 400;
}

@mixin titleStyle {
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@mixin titleStyle2 {
    letter-spacing: -0.01em;
    line-height: 1.5em !important;
    font-weight: 600 !important;
}

@mixin containerOne {
    height: auto;
    margin: 100px auto;
}

@mixin containerTwo {
    margin: 100px auto 50px auto;
}

@mixin transitions($arg) {
    -webkit-transition: $arg !important;
    -moz-transition: $arg !important;
    -ms-transition: $arg !important;
    -o-transition: $arg !important;
    transition: $arg !important;
}

@mixin scale($arg) {
    -ms-transform: scale($arg);
    -webkit-transform: scale($arg);
    transform: scale($arg);
}

@mixin translate($x,
$y) {
    -ms-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin topRightPos {
    position: fixed;
    right: 0;
    top: 0;
}

@mixin mNavStyling {
    //mNav icon
    background: $dark;
    width: 100%;
    height: 3px;
    border-radius: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 48%;
    @include transitions(all .2s ease-in);
    visibility: hidden; // prevents middle rectangle to fade, outer rectangles are set to visible 
}


/*bootstrap override*/

.container-fluid {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
    &>div {
        @extend .container-fluid;
    }
}

p {
    margin-top: 20px !important;
}


/* clearfix */

%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

a {
    text-decoration: none !important;
    color: inherit !important;
    #mNav & {
        width: 100%;
        display: block;
    }
}

h3 {
    line-height: 1.5em !important;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
}
