@charset 'UTF-8';
$mNavBgColour: #fff;
$mNavToggleW: 50px;
$mNavToggleH: 50px;
$mBgColour: #ece6df;
$workThumbBorder: #e0e7f1;
$light: #d8cec2;
$dark: #807766;
$workThumbShadow: 5px solid rgba(128,119,102,0);
$workThumbShadowActive: 5px solid rgba(128,119,102,1);
$defaultTextColour: #807766;
$inactiveNav: #efe6da;
$inactiveButton: #42392f;
$activeButton: #595047;
$navBarInactive: #726a62;
$navBarActive: #fff;
$backgroundGrad: #807766;
$backgroundGrad2: #fff;
$footerBg: #252219;
$diagonalFooterLength: 6000px;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,700,700i');
@mixin defaultFontSize {
  font-size: 16px;
  line-height: 2.2em !important;
}
@mixin defaultFont {
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: .01em;
  font-weight: 400;
  color: $defaultTextColour !important;
}
@mixin titleStyle {
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .1em !important;
}
@mixin containerOne {
  height: auto;
  margin: 100px auto;
}
@mixin transitions($arg) {
  -webkit-transition: $arg !important;
  -moz-transition: $arg !important;
  -ms-transition: $arg !important;
  -o-transition: $arg !important;
  transition: $arg !important;
}
@mixin scale($arg) {
  -ms-transform: scale($arg);
  -webkit-transform: scale($arg);
  transform: scale($arg);
}
@mixin skew($arg) {
  -webkit-transform: skew($arg);
  -moz-transform: skew($arg);
  -o-transform: skew($arg);
}
@mixin translate($x, $y) {
  -ms-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin topRightPos {
  position: fixed;
  right: 0;
  top: 0;
}
@mixin mNavStyling {
  //mNav icon
  background: $dark;
  width: 100%;
  height: 3px;
  border-radius: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 48%;
  @include transitions(all .2s ease-in);
  visibility: hidden; // prevents middle rectangle to fade, outer rectangles are set to visible
}
/*misc*/
@mixin buttonStyle {
  @include titleStyle;
  font-style: italic;
  letter-spacing: .14em;
  font-weight: 400 !important;
  padding: 5px 10px;
  display: block;
  margin: 10px 0;
  background: $inactiveButton;
  box-shadow: 0 0 0 rgba(216, 206, 194, 0);
  position: relative;
  z-index: 1;
  @include transitions (all .1s linear);

  span {
    color: $light;
  }

  &:before {
    background: -moz-linear-gradient(left, $activeButton 0%, $inactiveButton 100%);
    background: -webkit-linear-gradient(left, $activeButton 0%, $inactiveButton 100%);
    background: linear-gradient(to right, $activeButton 0%, $inactiveButton 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    @include transitions (all .1s linear);
    z-index: -1;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
    @include translate(-2px, -2px);
    box-shadow: 3px 3px 0 rgba(216, 206, 194, 1);
  }
}
/*bootstrap override*/
html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 !important;

  & > div {
    @extend .container-fluid;
  }
}

p {
  margin-top: 20px !important;
}
/* clearfix */
%clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

a {
  text-decoration: none !important;
  color: inherit !important;

  #mNav & {
    width: 100%;
    display: block;
  }
}

h3 {
  line-height: 1.5em !important;
  font-weight: 300 !important;
  letter-spacing: .01em !important;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0;
}

.downloadIcon {
  &:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url("../images/download.svg") center no-repeat;
    background-size: contain;
  }
  color: #fff !important;
}

.fancybox-container {
  svg {
    display: none !important;
  }
}