@charset 'UTF-8';
$mNavTextColour: #fff;
$mNavBgColour: #000;
$mNavToggleW: 50px;
$mNavToggleH: 50px;
$lightBlue: #b9c4d4;
$darkBlue: #7f8f9c;
$defaultTextColour: #30353c;
$inactiveButton: #1c2127;
$backgroundGrad: #49657b;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600,700');
@mixin defaultFontSize {
    font-size: 16px;
    line-height: 2em;
    color: $defaultTextColour;
}

@mixin defaultFont {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.02em;
}

@mixin titleStyle {
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

@mixin containerOne {
    height: auto;
    margin: 100px auto;
}

@mixin containerTwo {
    margin: 100px auto 50px auto;
}

@mixin transitions($arg) {
    -webkit-transition: $arg;
    -moz-transition: $arg;
    -ms-transition: $arg;
    -o-transition: $arg;
    transition: $arg;
}

@mixin topRightPos {
    position: fixed;
    right: 0;
    top: 0;
}


/* clearfix */

%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

a {
    text-decoration: none;
    color: inherit;
    #mNav & {
        width: 100%;
        display: block;
    }
}

h2 {
    font-size: 1.4em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
}


/*breakpoints*/

@media screen and(max-width: 1350px) {
    #about {
        width: 60%;
    }
    #work {
        .item {
            height: 375px;
        }
    }
}

@media screen and(min-width: 1351px) {
    #about {
        width: 80%;
    }
    #work {
        .item {
            height: 450px;
        }
    }
}


/*responsive nav*/

#mNav {
    .menuContainer {
        @include topRightPos;
        background: $mNavBgColour;
        color: $mNavTextColour;
        //visibility: hidden;
        pointer-events: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s linear;
        z-index: 100;
    }
    .checkboxToggle {
        @include topRightPos;
        z-index: 102;
        cursor: pointer;
        width: $mNavToggleW;
        height: $mNavToggleH;
        border: 0;
        padding: 0;
        opacity: 0;
        &:checked {
            &+.checkboxLabel {
                font-weight: bold;
            }
            &~.menuContainer {
                //visibility: visible;
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    .checkboxLabel {
        @include topRightPos;
        color: #000;
        z-index: 101;
        width: $mNavToggleW;
        height: $mNavToggleH;
        background: white;
    }
}


/*fancybox*/

.fancybox-bg {
    background: #fff !important;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1 !important;
}

.fancybox-caption-wrap {
    background: linear-gradient(180deg, transparent 0, rgba(255, 255, 255, .5) 20%, rgba(255, 255, 255, .85) 40%, rgba(255, 255, 255, 1)) !important;
    .fancybox-caption {
        border: none !important;
        color: $defaultTextColour;
        @include defaultFont;
        @include defaultFontSize;
        h2 {
            color: $darkBlue;
            margin-bottom: 10px;
            @include titleStyle;
        }
    }
}


/* main body*/

body {
    //background: url('../images/bg.png') top right no-repeat #fff;
    background: -moz-linear-gradient(-45deg, $backgroundGrad 0%, #ffffff 35%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $backgroundGrad 0%, #ffffff 35%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $backgroundGrad 0%, #ffffff 35%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 100% auto;
    @include defaultFontSize;
    #bgImage {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        //@extend %clearfix;
        .img {
            min-width: 100%;
            min-height: 1500px;
            background: url("../images/bg.png") no-repeat top left;
            //  @extend %clearfix;
        }
    }
}

.shadow {
    width: 100%;
}

#titleBar {
    color: #ccc;
    margin: 1%;
    & div:second-child {
        padding: 0 0 0 20px;
    }
    & div:nth-last-child(2) {
        display: flex;
        div {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }
    ul {
        margin: 0;
        width: 100%;
        text-align: right;
        font-size: 0.8em;
        li {
            display: inline;
            padding: 0 2%;
            @include defaultFont;
            text-transform: uppercase;
            &.active {
                color: $defaultTextColour;
                font-weight: bold;
            }
        }
    }
    #twoUniqLogo {
        width: 12%;
        min-width: 70px;
    }
}

#about {
    p,
    b {
        @include defaultFont;
        display: block;
    }
    h2 {
        @include defaultFont;
        @include titleStyle;
        display: inline-block;
        margin: 5px 0 30px 0;
    }
    b {
        font-size: 2.2em;
        line-height: 1.3em;
        font-weight: 600;
        letter-spacing: -0.01em;
    }
    p {
        margin-top: 30px;
    }
    img {
        width: 30px;
        height: 30px;
    }
    text-align: left;
    margin: 30px 5% 0 40%;
    width: 55%;
}

#work {
    width: auto;
    margin: 40px 0;
    .item {
        background: #555;
        color: #fff;
        outline: none;
        margin: 0.5%;
        a {
            background-size: 100% !important;
            width: 100%;
            height: 100%;
            display: block;
            outline: none;
            box-shadow: 0 0 2px #ddd;
            div {
                background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #ffffff);
                width: 100%;
                height: 100%;
            }
        }
        /*Gallery*/
        #one {
            background: url("../images/work/1prev.png") top left #fff no-repeat;
        }
        #two {
            background: url("../images/work/2prev.png") top left #fff no-repeat;
        }
        #three {
            background: url("../images/work/3prev.png") top left #fff no-repeat;
        }
        #four {
            background: url("../images/work/4prev.png") top left #fff no-repeat;
        }
        #five {
            background: url("../images/work/5prev.png") top left #fff no-repeat;
        }
        #six {
            background: url("../images/work/6prev.png") top left #fff no-repeat;
        }
        #seven {
            background: url("../images/work/7prev.png") top left #fff no-repeat;
        }
    }
    .slick-prev {
        left: 10px;
        z-index: 2;
    }
    .slick-next {
        right: 10px;
        z-index: 2;
    }
}

#tech {
    width: 100%;
    height: auto;
    .title {
        @include defaultFont;
        @include containerTwo;
        h2 {
            @include titleStyle;
            display: inline-block;
            margin: -5px 0 0 15px;
        }
        width: 80%;
        color: $darkBlue;
    }
    .techBody {
        width: 500px;
        height: 300px;
        background: #7f8f9c;
        /*background: #a9bac8;
        background: -moz-linear-gradient(left, #a9bac8 0%, #7f8f9c 100%);
        background: -webkit-linear-gradient(left, #a9bac8 0%, #7f8f9c 100%);
        background: linear-gradient(to right, #a9bac8 0%, #7f8f9c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9bac8', endColorstr='#7f8f9c', GradientType=1);
        */
        p {
            text-transform: uppercase;
            color: #fff;
            margin: 20px 0 0 70px;
            font-size: 1.1em;
            line-height: 2em;
            font-weight: 600;
            span {
                padding: 0 10px;
            }
        }
    }
    .diagonal {
        width: 0;
        border-top: 300px solid #7f8f9c;
        border-right: 100px solid transparent;
        height: 0;
    }
    p,
    h3 {
        @include defaultFont;
        display: inline-block;
        margin: 5px 0 0 12px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

#contact {
    width: 100%;
    background: #30353c;
    color: #fff;
    h3,
    a {
        @include defaultFont;
    }
    p {
        @extend h3;
        color: $lightBlue;
    }
    h2 {
        @extend h3;
        @include titleStyle;
        color: #fff;
    }
    .pure-g {
        width: 80%;
        margin: 0 auto;
    }
    .marginRight {
        margin: 50px 50px 50px 0;
        h2 {
            display: inline-block;
            margin: -1px 0 0 15px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    .flex {
        margin: 50px 0;
        .left {
            padding-right: 10px;
            img {
                width: 140px * 0.5;
                height: 140px * 0.5;
            }
        }
        .right {
            p {
                color: #fff;
                margin-top: 0;
            }
            h3 {
                margin: 0;
            }
            a {
                padding: 10px;
                background: $inactiveButton;
                display: block;
                margin: 10px 0;
                span {
                    color: $lightBlue;
                }
            }
        }
    }
}

.viewPort {
    background: $inactiveButton;
    div {
        height: 12px;
    }
}
