@charset 'UTF-8';
@import 'defaultSettings';

/*misc*/

@mixin buttonStyle {
    @include titleStyle;
    letter-spacing: 0.14em;
    font-weight: 400 !important;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
    background: $inactiveButton;
    position: relative;
    z-index: 1;
    span {
        color: $lightBlue;
    }
    &:before {
        background: -moz-linear-gradient(left, $activeButton 0%, $inactiveButton 100%);
        background: -webkit-linear-gradient(left, $activeButton 0%, $inactiveButton 100%);
        background: linear-gradient(to right, $activeButton 0%, $inactiveButton 100%);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include transitions (all .1s linear);
        z-index: -1;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}


/*breakpoints*/

@media screen and(max-width: 1350px) {
    .mNav {
        visibility: visible;
    }
    #titleBar {
        visibility: hidden;
    }
    #titleBarM {
        visibility: visible;
    }
    #about,
    #tech .techDesc,
    #contact {
        text-align: center !important;
    }
    #about {
        padding: 0 5% 0 5% !important;
    }
    #work {
        .item {
            height: 375px;
        }
    }
    #contact {
        .row>div {
            flex: none;
        }
        .marginRight {
            margin: 100px 50px !important;
        }
        .flex {
            margin: 0 !important;
            padding: 0 0 100px 0 !important;
            flex-direction: column;
            a {
                display: inline-block !important;
                margin: 20px 0 !important;
            }
            img {
                margin: 20px;
            }
        }
    }
}

@media screen and(min-width: 1351px) {
    .mNav {
        visibility: hidden !important;
        span,
        span:before,
        span:after {
            visibility: hidden !important;
        }
    }
    #titleBar {
        visibility: visible;
    }
    #titleBarM {
        visibility: hidden;
    }
    #work {
        .item {
            height: 450px;
        }
    }
}


/*responsive nav*/

.menuContainer {
    @include topRightPos;
    background: $mNavBgColour;
    color: $inactiveNav;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    @include transitions(all .3s ease-in);
    z-index: 100;
    ul {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 1.8em;
        letter-spacing: 0.1em;
        font-weight: 300;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            display: block;
            text-transform: uppercase;
            padding: 20px 0;
            @include transitions(all .3s ease-in);
            img {
                width: 12%;
                padding-bottom: 30px;
            }
            a {
                display: inline !important; //bootstrap override
                padding: 0 !important; //bootstrap override
                &.active {
                    position: relative;
                    font-weight: 600;
                    color: $mNavTextColour !important;
                    &:after {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 100%;
                        content: " ";
                        display: block;
                        border-top: 5px solid $lightBlue;
                        border-right: 5px solid transparent;
                    }
                }
            }
            &.left {
                transform: translateX(-10px);
            }
            &.right {
                transform: translateX(10px);
            }
            &.copy {
                padding-top: 30px;
                @include defaultFont;
                @include defaultFontSize;
                text-transform: none;
            }
        }
    }
}

.checkboxToggle {
    @include topRightPos;
    z-index: 102;
    cursor: pointer;
    width: $mNavToggleW;
    height: $mNavToggleH;
    border: 0;
    padding: 0;
    opacity: 0;
    &:checked {
        &+.checkboxLabel {
            span.outer {
                opacity: 0;
                &:before {
                    @extend span.outer;
                }
                &:after {
                    @extend span.outer;
                }
            }
            span.middle {
                //overlaid visible middle rectangle
                transform: rotate(45deg);
            }
            span.middle2 {
                transform: rotate(-45deg);
            }
        }
        &~.menuContainer {
            pointer-events: auto;
            opacity: 0.95;
            ul {
                li {
                    transform: translateX(0);
                }
            }
        }
    }
}

.checkboxLabel {
    @include topRightPos;
    color: #000;
    z-index: 101;
    width: $mNavToggleW;
    height: $mNavToggleH;
    background: transparent;
    span.outer {
        @include mNavStyling; // middle rectangle hidden
        &:after {
            @extend span.outer;
            top: -10px;
            content: "";
            visibility: visible; // set to visible
        }
        &:before {
            @extend span.outer;
            top: 10px;
            content: "";
            visibility: visible; // set to visible
        }
    }
    span.middle,
    span.middle2 {
        @include mNavStyling;
        visibility: visible; // overlaid visible middle rectangle
    }
}


/*fancybox*/

.fancybox-stage {
    background: $lightBlue;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1 !important;
}

.fancybox-caption-wrap {
    background: #fff !important;
    /*background: linear-gradient(180deg, transparent 0, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, 1)) !important;*/
    padding-top: 15px !important;
    padding-bottom: 5px !important;
    .fancybox-caption {
        border: none !important;
        color: $defaultTextColour;
        @include defaultFontSize;
        padding: 0 !important;
        line-height: 2em !important;
        a {
            color: $darkBlue !important;
            &:hover {
                color: $inactiveButton !important;
            }
        }
        a.button {
            @include buttonStyle;
            color: #fff !important;
            margin-left: 0 !important;
            padding: 3px 10px !important;
            display: inline-table;
            margin-right: 20px;
            background: $darkBlue;
            &:before {
                background: -moz-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
                background: -webkit-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
                background: linear-gradient(to right, $lightBlue 0%, $darkBlue 100%);
            }
        }
        h4 {
            color: $darkBlue;
            margin-bottom: 10px;
            // @include defaultFont;
            @include titleStyle;
        }
    }
}

@mixin prevNextArrows {
    z-index: 2;
    width: 2413px *0.05 !important;
    height: 3208px *0.015 !important;
    opacity: 0.4 !important;
    transform: none !important;
    @include transitions(all .2s ease-out);
    &:hover {
        opacity: 1 !important;
    }
}

.fancybox-arrow {
    @include prevNextArrows;
    &:disabled {
        opacity: 0 !important;
        cursor: default;
    }
}

.fancybox-button:before,
.fancybox-button:after,
.fancybox-arrow:after {
    content: none !important;
}

.fancybox-arrow--left {
    left: 10px !important;
    background: url("../images/prev.svg") no-repeat 20% 100% !important;
    &:active {
        background-position: 0% 100% !important;
    }
}

.fancybox-arrow--right {
    right: 10px !important;
    background: url("../images/next.svg") no-repeat 80% 100% !important;
    &:active {
        background-position: 100% 100% !important;
    }
}

.fancybox-button--fullscreen {
    background: url("../images/fullscreen.svg") no-repeat top left !important;
    width: 90px * 0.5 !important;
    height: 50px * 0.5 !important;
}

.fancybox-button--close {
    background: url("../images/close.svg") no-repeat top left !important;
    width: 50px * 0.5 !important;
    height: 50px * 0.5 !important;
    margin-left: 35px !important;
}

.fancybox-toolbar {
    margin: 20px 30px;
}

.fancybox-button {
    opacity: 0.5;
    @include transitions (all .2s ease-out);
}

.fancybox-button:hover {
    opacity: 1;
}

button:focus {
    outline: 0 !important;
}


/* main body*/

body {
    /*background: -moz-linear-gradient(-45deg, $backgroundGrad 0%, $backgroundGrad2 35%);
    background: -webkit-linear-gradient(-45deg, $backgroundGrad 0%, $backgroundGrad2 35%);
    background: linear-gradient(135deg, $backgroundGrad 0%, $backgroundGrad2 35%);
    background-size: 100% auto;*/
    @include defaultFontSize;
    @include defaultFont;
    margin: 0;
    #bgImage {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        .img {
            min-width: 100%;
            min-height: 1500px;
            width: 100%;
            height: 100%;
        }
    }
}

.shadow {
    width: 100%;
}

#titleBar {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 5%;
    min-height: 30px;
    max-height: 35px;
    color: $inactiveNav;
    background: rgba(255, 255, 255, 0);
    @include transitions(background .2s linear);
    &.bgFill {
        background: rgba(255, 255, 255, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
    }
    & div:second-child {
        padding: 0 0 0 20px;
    }
    & div:nth-last-child(2) {
        display: flex;
        div {
            display: flex;
            align-items: center;
            margin-left: auto;
        }
    }
    ul {
        margin: 0;
        width: 100%;
        text-align: right;
        font-size: 0.8em;
        li {
            display: inline;
            a {
                @extend li;
                padding: 0 2%;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                &.active {
                    color: $defaultTextColour !important;
                    font-weight: bold;
                }
            }
        }
    }
    #twoUniqLogo {
        width: 12%;
        min-width: 70px;
        vertical-align: middle;
    }
}

#titleBarM {
    text-align: center;
    padding-top: 100px;
    img {
        width: 100px;
        height: auto;
    }
}

#about {
    background: url("../images/bg.png") no-repeat top left;
    p,
    h3 {
        display: block;
    }
    h2 {
        @include titleStyle;
        display: inline-block;
        margin: 5px 0 30px 0;
        opacity: .35;
    }
    h3 {
        @include titleStyle2;
        margin-top: 0;
    }
    text-align: left;
    padding: 100px 5% 100px 40%;
}

#work {
    width: auto;
    padding: 125px 0 40px 0;
    .item {
        background: #555;
        color: #fff;
        outline: none;
        margin: 0.5%;
        position: relative;
        z-index: 0;
        &:before {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 5px $inactiveNav;
            opacity: 0;
            content: '';
            border: 5px solid #000;
            @include transitions (all 0.2s linear);
        }
        &:hover {
            &:before {
                opacity: 1;
            }
        }
        a {
            background-size: 100% !important;
            width: 100%;
            height: 100%;
            display: block;
            outline: none;
            @include transitions(all .2s linear);
            &:hover {
                // @include scale(1.05);
            }
            div {
                @include transitions(all .3s linear);
                &.bg {
                    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #fff);
                    width: 100%;
                    height: 100%;
                    position: relative;
                    div {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        &:hover {
                            opacity: 1;
                            h4 {
                                @include translate(5px,
                                0);
                            }
                            img {
                                @include translate(20px,
                                0);
                                opacity: 1;
                            }
                        }
                    }
                    .caption {
                        position: relative;
                        h4 {
                            @include titleStyle;
                            line-height: 1.4em;
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 20px;
                            @include transitions(all .5s ease-out);
                        }
                        //letter-spacing: 0.1em;
                        //font-size: 1.3em;
                        color: #fff;
                        padding: 20px;
                        img {
                            position: absolute;
                            right: 50px;
                            bottom: 30px;
                            width: 35px;
                            opacity: 0;
                            @include transitions(all .5s ease-out);
                        }
                    }
                    &:hover {
                        background-color: rgba(127, 143, 156, 0.9);
                        //background-image: none;
                    }
                }
            }
        }
        /*Gallery*/
        #one {
            background: url("../images/work/1prev.png") top left #fff no-repeat;
        }
        #two {
            background: url("../images/work/2prev.png") top left #fff no-repeat;
        }
        #three {
            background: url("../images/work/3prev.png") top left #fff no-repeat;
        }
        #four {
            background: url("../images/work/4prev.png") top left #fff no-repeat;
        }
        #five {
            background: url("../images/work/5prev.png") top left #fff no-repeat;
        }
        #six {
            background: url("../images/work/6prev.png") top left #fff no-repeat;
        }
        #seven {
            background: url("../images/work/7prev.png") top left #fff no-repeat;
        }
        #eight {
            background: url("../images/work/8prev.png") top left #fff no-repeat;
        }
    }
    .slick-prev,
    .slick-next,
    {
        @include prevNextArrows;
    }
    .slick-prev {
        left: 10px;
        background: url("../images/prev.svg") no-repeat 20% 100%;
        &:active {
            background-position: 0% 100%;
        }
    }
    .slick-next {
        right: 10px;
        background: url("../images/next.svg") no-repeat 80% 100%;
        &:active {
            background-position: 100% 100%;
        }
    }
    .slick-disabled,
    .slick-disabled:hover {
        opacity: 0 !important;
        cursor: default;
    }
    .slick-prev:before,
    .slick-next:before {
        content: none;
    }
    .slick-dots li button:before {
        color: $darkBlue !important;
    }
    .slick-dots li.slick-active button:before {
        color: $darkBlue !important;
        opacity: 1 !important;
    }
}

#tech {
    width: 100%;
    height: auto;
    margin: 180px 0 100px 0;
    .title {
        @include containerTwo;
        h2 {
            @include titleStyle;
            display: inline-block;
            margin: -5px 0 0 15px;
        }
        width: 80%;
        color: $darkBlue;
    }
    .flex {
        margin-bottom: 100px;
    }
    .techBody {
        width: 500px;
        height: 300px;
        background: $darkBlue;
        background: -moz-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
        background: -webkit-linear-gradient(left, $lightBlue 0%, $darkBlue 100%);
        background: linear-gradient(to right, $lightBlue 0%, $darkBlue 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9bac8', endColorstr='#7f8f9c', GradientType=1);
        p {
            text-transform: uppercase;
            margin-left: 30px;
            color: #fff;
            font-size: 1.1em;
            line-height: 2em;
            font-weight: 600;
            span {
                padding: 0 10px;
            }
        }
        #mac {
            position: absolute;
            top: 160px;
            left: 260px;
            z-index: 2;
            img.m {
                width: 1000px * 0.4;
                height: 568px * 0.4;
            }
            .reflection {
                position: absolute;
                top: 1px;
                left: 202px;
                img.s {
                    width: 392px * 0.4;
                    height: 510px * 0.4;
                    opacity: 0.5;
                }
            }
        }
        #slide {
            position: absolute;
            width: 741px * 0.41;
            height: 460px * 0.41;
            top: 172px;
            left: 308px;
            background: #000;
            z-index: 1;
            div {
                width: 100%;
                height: 100%;
                background-size: cover !important;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 50;
            }
            @mixin scene($opac...) {
                //seven frames
                0% {
                    opacity: nth($opac, 1);
                }
                6.7% {
                    opacity: nth($opac, 1);
                }
                13.3% {
                    opacity: nth($opac, 2);
                }
                20% {
                    opacity: nth($opac, 2);
                }
                26.7% {
                    opacity: nth($opac, 3);
                }
                33.3% {
                    opacity: nth($opac, 3);
                }
                40.0% {
                    opacity: nth($opac, 4);
                }
                46.7% {
                    opacity: nth($opac, 4);
                }
                53.3% {
                    opacity: nth($opac, 5);
                }
                60.0% {
                    opacity: nth($opac, 5);
                }
                66.7% {
                    opacity: nth($opac, 6);
                }
                73.3% {
                    opacity: nth($opac, 6);
                }
                80% {
                    opacity: nth($opac, 7);
                }
                86.7% {
                    opacity: nth($opac, 7);
                }
                93.3% {
                    opacity: nth($opac, 8);
                }
                100% {
                    opacity: nth($opac, 8);
                }
                /*
                
                   0% {
                    opacity: nth($opac, 1);
                }
                
                14.28% {
                    opacity: nth($opac, 2)
                }
                28.6% {
                    opacity: nth($opac, 3)
                }
                42.85% {
                    opacity: nth($opac, 4)
                }
                57.13% {
                    opacity: nth($opac, 5)
                }
                71.41% {
                    opacity: nth($opac, 6)
                }
                85.69% {
                    opacity: nth($opac, 7)
                }
                100% {
                    opacity: nth($opac, 8)
                }
                */
            } //end mixin
            @mixin animateSlide($fadeIndex,
            $duration) {
                animation: $fadeIndex $duration infinite;
                -webkit-animation: $fadeIndex $duration infinite;
            }
            .one {
                background: url("../images/macslide/1s.png") no-repeat center;
                @include animateSlide (fade1,
                60s);
            }
            .two {
                background: url("../images/macslide/2s.png") no-repeat center;
                @include animateSlide (fade2,
                60s);
            }
            .three {
                background: url("../images/macslide/3s.png") no-repeat center;
                @include animateSlide (fade3,
                60s);
            }
            .four {
                background: url("../images/macslide/4s.png") no-repeat center;
                @include animateSlide (fade4,
                60s);
            }
            .five {
                background: url("../images/macslide/5s.png") no-repeat center;
                @include animateSlide (fade5,
                60s);
            }
            .six {
                background: url("../images/macslide/6s.png") no-repeat center;
                @include animateSlide (fade6,
                60s);
            }
            .seven {
                background: url("../images/macslide/7s.png") no-repeat center;
                @include animateSlide (fade7,
                60s);
            }
            @keyframes fade1 {
                @include scene(1,
                0,
                0,
                0,
                0,
                0,
                0,
                1);
            }
            @keyframes fade2 {
                @include scene(0,
                1,
                0,
                0,
                0,
                0,
                0,
                0);
            }
            @keyframes fade3 {
                @include scene(0,
                0,
                1,
                0,
                0,
                0,
                0,
                0);
            }
            @keyframes fade4 {
                @include scene(0,
                0,
                0,
                1,
                0,
                0,
                0,
                0);
            }
            @keyframes fade5 {
                @include scene(0,
                0,
                0,
                0,
                1,
                0,
                0,
                0);
            }
            @keyframes fade6 {
                @include scene(0,
                0,
                0,
                0,
                0,
                1,
                0,
                0);
            }
            @keyframes fade7 {
                @include scene(0,
                0,
                0,
                0,
                0,
                0,
                1,
                0);
            }
        }
    }
    .techDesc {
        margin: 0 60px 0 30px;
        h3 {
            color: $darkBlue;
        }
    }
    .diagonal {
        width: 0;
        border-top: 300px solid $darkBlue;
        border-right: 133px solid transparent;
        height: 0;
    }
    img {
        width: 30px;
        height: 30px;
        vertical-align: top;
    }
}

#contact {
    width: 100%;
    background: #30353c;
    color: #fff;
    p {
        color: $lightBlue;
    }
    h2 {
        @include titleStyle;
        color: #fff;
    }
    .marginRight {
        margin: 50px 50px 50px 0;
        h2 {
            display: inline-block;
            margin: -1px 0 0 15px;
        }
        img {
            width: 30px;
            height: 30px;
            vertical-align: top;
        }
    }
    .flex {
        margin: 50px 0;
        .left {
            padding-right: 10px;
            img {
                width: 140px * 0.5;
                height: 140px * 0.5;
            }
        }
        .right {
            p {
                color: #fff;
                margin-top: 0 !important;
                line-height: 1.5em;
            }
            h3 {
                margin: 0;
            }
            a {
                @include buttonStyle;
            }
        }
    }
}
