@charset 'UTF-8';

/*scrolltrigger override*/

#about {
    .squareOne {
        opacity: 1;
        @include transitions (all .5s ease-out);
        &.init {
            opacity: 0;
            @include translate (3%, 3%);
        }
    }
    .squareTwo {
        opacity: 1;
        @include transitions (all .5s ease-out);
        &.init {
            opacity: 0;
            @include translate (-3%, -3%);
        }
    }
}
